<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Question Detail</title>
</head>
<body>
    <h1> Update Question :  {{ question.text }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="submit" class="btn-update"> Update </button>
        <button type="button" class="btn-return"> <a href="{% url 'myCrud:index' %}"> Return </a> </button>
    </form>
</body>
</html>